
.home {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    .intro-text {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        text-align: justify;

    }

    .site-description {
        text-align: justify;
        font-size: 20px;
    }

    .image-home {
        width: 80%;
    }
}

// @media (min-width: 768px) {
//     .home {
//         width: 99%;
//     }
// }
  