.footer {
    background-color: gray;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: left;
}

ul{
    width: 100%;
    list-style-type: disc ;
    list-style-position: outside;
}